@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
color pallete
  0b0c10
  1f2833
  c5c6c7
  66fcf1
  45a29e
*/

* {
  background-color: #1f2833;
  color: #eeeeee;
  line-height: 2rem;
  scroll-behavior: smooth;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-container {
  width: 70%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  font-family: "Poppins", sans-serif;
  min-height: 93vh;
  max-height: 93vh;
  padding: 0 30px;
  overflow: hidden;
}

.navigation > li,
.social > li {
  list-style: ">>";
  padding-left: 10px;
  color: #66fcf1;
  transition: all 0.3s ease-in-out;
  width: fit-content;
}

.navigation > li > a,
.social > li > a {
  transition: all 0.3s ease-in-out;
}

.navigation > li:hover,
.social > li:hover {
  padding-left: 20px;
}

.navigation > li > a:hover,
.social > li > a:hover {
  color: #66fcf1;
  text-shadow: 0px 0px 5px rgba(70, 243, 255, 0.37);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2 {
  color: #66fcf1;
}

.resume {
  display: inline;
  font-size: 1.3rem;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}

.resume:hover {
  margin-left: 25px;
  color: #66fcf1;
}

#rightSide {
  max-height: 100vh;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

#rightSide::-webkit-scrollbar {
  display: none;
}

.list {
  display: grid;
  gap: 2rem;
  padding-top: 1rem;
}

.list-item {
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  padding: 15px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 0 10px 0 rgba(70, 243, 255, 0.37);
  gap: 15px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out,
    -webkit-backdrop-filter 0.3s ease-in-out;
}

/* glass effect */
.list-item:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 0 20px 0 rgba(70, 243, 255, 0.37);
}

.item-date,
.item-content,
.description,
.item-image,
.project-desc {
  background: transparent;
}

.time,
.company,
.position,
.project-title {
  font-weight: bold;
  color: #66fcf1;
  font-size: 1.1rem;
  background: transparent;
}

#project {
  padding-bottom: 100px;
}

.thumbnail {
  width: 200px;
  margin: 20px;
  border: 2px solid #66fcf1;
  border-radius: 10px;
}
